node_modules
.next
out
.source
.vercel
.env*.local
*.tsbuildinfo
next-env.d.ts

content/docs/package/api/**
!content/docs/package/api/.gitkeep

playwright-report
test-results

public/opencascade_full.d.ts
public/opencascade_full.js
public/opencascade_full.wasm
